// Fonts
//@import url('https://fonts.bunny.net/css?family=Lato');

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.eot');
    src: local('Lato Light'), local('Lato-Light'),
    url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Light.woff2') format('woff2'),
    url('../fonts/Lato-Light.woff') format('woff'),
    url('../fonts/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Medium';
    src: url('../fonts/Lato-Medium.eot');
    src: local('Lato Medium'), local('Lato-Medium'),
    url('../fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Medium.woff2') format('woff2'),
    url('../fonts/Lato-Medium.woff') format('woff'),
    url('../fonts/Lato-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Bold';
    src: url('../fonts/Lato-Black.eot');
    src: local('Lato Black'), local('Lato-Black'),
    url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Black.woff2') format('woff2'),
    url('../fonts/Lato-Black.woff') format('woff'),
    url('../fonts/Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

// Variables
@import 'variables';

$fa-font-path: '../webfonts';

// Fontawesome
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import './components/navigation/navigation';
.main-header {
    position: fixed;
}

#info-table {
    tbody > tr > td {
        p {
            margin-left: 0;
            margin-right: auto;
        }

        img {
            width: auto;
            max-width: 100%;
            height: auto;
        }
    }
}

#services-list > tr > td:last-child {
    width: 150px;
}

.main-header {
    max-height: 65px;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;

    .brand-link {
        flex: 0 0 auto;
    }

    .js .nav-collapse {
    }

    .nav-collapse {
        width: 100%;
        overflow: initial !important;
        right: 0;

        ul.menu-list {
            display: flex;
            width: 100%;
        }

        &.opened {
            top: 210px;
            background: #fff;
        }
    }
}

#btn_add_about_us {
}

.close-head-editor,
.close-editor, .close-reviews-editor, .close-contacts-editor, .close-service-editor, .close-about-us-editor, .close-sections-editor {
    font-size: 30px;
    background: transparent;
    border: none;

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.hide-edit-info-media .close-editor {
    background: transparent;
    font-size: 23px;
    padding: 10px;
    border: none;
    box-shadow: none;
}

.user-menu.show {
    position: absolute !important;
}

.user-link {
    svg {
        transform: rotate(95deg);
        margin-top: -6px;
    }
}

.user-link:active, .user-link:focus {
    outline: none !important;
    border: none !important;
}

.navbar-toggler {
    display: none;
}

@media screen and (min-width: 1240px) {
    .js .navbar-collapse {
        display: block !important;
        height: auto;
        max-height: 100%;
        width: 100%;
        max-width: 100%;
        flex: 1;

        ul {
            display: flex;
            flex-flow: row;

            > li:first-child {
                margin-left: auto;
            }
        }
    }
    .user-menu.show {
        position: absolute !important;
    }
}

@media screen and (max-width: 1240px) {
    .user-menu.show {
        position: relative !important;
        width: 100%;
        float: left !important;
    }
    .navbar-toggler {
        display: block !important;
    }
    .main-header {
        height: 100%;
        max-height: 75px;

        .navbar-collapse {
            ul {
                flex-flow: column;
            }

            &.opened {
                top: 210px;
                background: #fff;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    section.calendar {
        padding: 20px 0 !important;
    }
    .content-wrapper > .content.calendar-content {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
