/* Config Colors
-------------------------------------*/
/* Defaults
-------------------------------------*/
body {
    font-family: 'Lato', sans-serif;
    color: #716d6e;

    * {
        font-family: 'Lato', sans-serif;
        color: #716d6e;
    }

    strong {
        font-family: Lato Medium, sans-serif !important;

        * {
            font-family: Lato Medium, sans-serif !important;
        }
    }
}

.lato-md {
    font-family: Lato Medium, sans-serif !important;
}

.lato-bold {
    font-family: Lato Bold, sans-serif !important;
}

@import "components/animation";

/* Autocomplete
--------------------------------------------*/
.autocomplete-suggestions {
    border: 1px solid #999;
    background: #fff;
    cursor: default;
    overflow: auto;
    font-size: 14px;
}

.autocomplete-suggestion {
    padding: 10px 5px;
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
}

.autocomplete-selected {
    background: #f0f0f0;
    font-size: 14px;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #0074b7;
    font-size: 14px;
}

@import "components/carousel";
/* Label
--------------------------------------------*/
.label-default {
    background-color: #0074b7;
    border-radius: 0;
}

/* Tooltip
--------------------------------------------*/
.tooltip .tooltip-inner {
    background-color: #0074b7;
    padding: 5px 10px;
    font-size: 18px;
}

.tooltip .tooltip-arrow {
    border-top-color: #0074b7 !important;
}

.my-tooltip {
    border-bottom: 1px dotted #0074b7;
    color: #0074b7;
}

/* Links
--------------------------------------------*/
a {
    color: #0074b7;
}

a:hover {
    color: #0074b7;
    text-decoration: none;
}

p {
    text-align: left;
}

/* Scroll to Top Button
--------------------------------------------*/
.scrollup {
    width: 44px;
    height: 44px;
    position: fixed;
    bottom: 44px;
    right: 64px;
    display: none;
    text-indent: -9999px;
    background: url('../images/icon_top.png') no-repeat;
    z-index: 9999;
}

/* Header
--------------------------------------------*/
@import "components/header";

///* Navbar
@import "components/navigation/navigation";

header.small {
    height: 95px;
    box-shadow: 0 0px 14px -2px gray;
}

header.small .header-info {
    display: none;
}

header.small .brand {
    margin: 24px 0 0 0;
    width: 50%;
}

header.large {
    height: 147px;
    box-shadow: none;
}

header.large .header-info {
    display: block;
}

header.large .brand {
    margin: 25px 0 0 0;
    width: 100%;
}

/* Blog Section
-------------------------------------*/
.blog-posts {
    margin-top: 70px;
}

.blog-posts .blog-post {
    margin-bottom: 70px;
}

.blog-posts .blog-post blockquote {
    margin: 35px 27px;
    border-left: 6px solid #0074b7;
    font-size: 16px;
    line-height: 1.7;
    font-style: italic;
}

.single-post-tags {
    list-style: none;
    margin: 35px 0 0 0;
    padding: 0;
}

.single-post-tags li {
    display: inline-block;
    text-transform: uppercase;
}

.single-post-tags li:first-of-type {
    font-weight: bold;
    color: #0074b7;
}

.single-post-tags li a {
    color: #716d6e;
    text-transform: none;
}

.author-post .author-img {
    float: left;
    width: 130px;
    padding-bottom: 2px;
    border-bottom: 7px solid #0074b7;
}

.author-post .author-content {
    margin-left: 155px;
}

.author-post .author-content h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.author-post .author-content h2 small {
    font-weight: normal;
    font-size: 18px;
}

.author-post .author-content p {
    font-size: 16px;
    line-height: 1.7;
}

.blog-posts .blog-post .post-attachment {
    padding-bottom: 2px;
    border-bottom: 10px solid #0074b7;
}

.blog-posts .blog-post .post-content-text {
    margin-top: 8px;
}

.blog-posts .blog-post .post-content-text .post-title {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 5px;
}

.blog-posts .blog-post .post-content-text .post-title a {
    color: #716d6e;
}

.blog-posts .blog-post .post-content-text .post-date {
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 22px;
    display: block;
}

.blog-posts .blog-post .post-content-text p {
    font-size: 16px;
    line-height: 1.7;
}

.blog-posts .blog-post .post-content-text .read-more {
    text-transform: uppercase;
    margin-top: 10px;
}

.blog-posts .pagination-list {
    font-size: 18px;
    font-weight: 900;
    list-style: none;
    padding: 0;
    margin: 0;
}

.blog-posts .pagination-list li {
    display: inline-block;
    padding: 0 5px;
    color: #0074b7;
}

.blog-posts .pagination-list li a {
    color: #716d6e;
}

.comment-section {
    margin-top: 60px;
    font-size: 16px;
    line-height: 1.7;
}

.comment-section h2 {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
}

.comment-section .comment-box {
    padding-bottom: 35px;
    border-bottom: 3px solid #ededed;
    margin-bottom: 35px;
}

.comment-section .comment-tree {
    list-style: none;
    padding: 0;
}

.comment-section .comment-tree ul {
    list-style: none;
    margin-left: 105px;
    padding: 0;
}

.comment-section .comment-img {
    border-bottom: 7px solid #0074b7;
    display: inline-block;
    float: left;
    padding-bottom: 2px;
}

.comment-section .comment-content {
    margin-left: 105px;
}

.comment-section .comment-content h4 {
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 0;
}

.comment-section .comment-content span {
    font-size: 14px;
}

.comment-section .comment-content p {
    margin-top: 10px;
}

.comment-section .comment-reply-link {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 2px;
}

.comment-section .comment-respond h3 {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.comment-section .comment-respond form input {
    background-color: #dbdbdb;
    height: 45px;
    border-radius: 0;
    border: none;
    box-shadow: none;
    line-height: 45px;
    font-size: 18px;
    margin-bottom: 13px;
}

.comment-section .comment-respond form textarea {
    background-color: #dbdbdb;
    border-radius: 0;
    border: none;
    box-shadow: none;
    font-size: 18px;
    margin-bottom: 20px;
}

.comment-section .comment-respond form ::-webkit-input-placeholder {
    font-size: 14px !important;
}

.comment-section .comment-respond form :-moz-placeholder {
    font-size: 14px !important;
}

.comment-section .comment-respond form ::-moz-placeholder {
    font-size: 14px !important;
}

.comment-section .comment-respond form :-ms-input-placeholder {
    font-size: 14px !important;
}

.comment-section .comment-respond form .submit {
    background-color: #0074b7;
    color: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 6px 6px 0 #efe9e9;
    text-align: center;
    font-size: 22px;
    font-weight: 900;
    padding: 1px 20px;
    transition: .2s;
}

.comment-section .comment-respond form .submit:hover {
    background-color: #716d6e;
}

.blog-posts .sidebar .widget-title {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
}

.blog-posts .sidebar .widget {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.7;
}

.blog-posts .sidebar .widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
}

.blog-posts .sidebar .widget ul li {
    border-bottom: 1px solid #e3e2e2;
    height: 40px;
    vertical-align: middle;
    line-height: 40px;
    transition: background 0.4s ease-in-out;
}

.blog-posts .sidebar .widget ul li i {
    color: #0074b7;
    margin: 0 7px;
}

.blog-posts .sidebar .widget ul li a {
    color: #716d6e;
}

.blog-posts .sidebar .widget ul li:hover {
    background-color: #e7e7e7;
}

.blog-posts .sidebar .widget .tagcloud {
    overflow: hidden;
}

.blog-posts .sidebar .widget .tagcloud a {
    color: #fff;
    background-color: #0074b7;
    padding: 6px 20px;
    display: inline-block;
    margin: 4px 4px 0 0;
    float: left;
    transition: background 0.4s ease-in-out;
}

.blog-posts .sidebar .widget .tagcloud a:hover {
    background-color: #e7e7e7;
}

.blog-posts .sidebar .widget:after {
    clear: both;
}

.blog-posts .sidebar .search-widget form ::-webkit-input-placeholder {
    color: #0074b7 !important;
}

.blog-posts .sidebar .search-widget form :-moz-placeholder {
    color: #0074b7 !important;
}

.blog-posts .sidebar .search-widget form ::-moz-placeholder {
    color: #0074b7 !important;
}

.blog-posts .sidebar .search-widget form :-ms-input-placeholder {
    color: #0074b7 !important;
}

.blog-posts .sidebar .search-widget form .input-group input {
    border-radius: 0;
    color: #0074b7;
    font-size: 16px;
    padding-left: 15px;
    box-shadow: none;
    background: none;
    -webkit-appearance: none;
}

.blog-posts .sidebar .search-widget form .input-group-addon {
    border-radius: 0;
    border: none;
    background-color: #efe9e9;
    font-weight: bold;
    font-size: 16px;
    color: #716d6e;
    width: 41px;
    text-align: left;
    padding-right: 0;
    padding-left: 15px;
}

.blog-posts .sidebar .search-widget form .input-group-addon .glyphicon {
    font-size: 17px;
    margin: 0 2px 0 -2px;
}

.blog-posts .sidebar .search-widget form .form-control {
    height: 43px;
    border: 2px solid #efe9e9;
    box-shadow: none;
}

.blog-posts .sidebar .search-widget form .input-group {
    width: 100%;
}

.blog-posts.error-page {
    padding-bottom: 45px;
}

.blog-posts.error-page .container {
    border-bottom: 10px solid #0074b7;
}

.blog-posts.error-page h2 {
    font-size: 24px;
    font-weight: normal;
    margin: 0;
}

.blog-posts.error-page h3 {
    font-size: 24px;
    font-weight: 900;
    line-height: 1.5;
}

.blog-posts.error-page h3 span {
    font-weight: normal;
}

.blog-posts.error-page .error-search {
    padding-top: 60px;
}

.blog-posts.error-page .error404 {
    color: #e7e7e7;
    font-weight: 900;
    font-size: 220px;
    border-right: 1px solid #ccc;
    height: 205px;
    line-height: 205px;
    margin-bottom: 60px;
    margin-top: 45px;
    margin-right: -17px;
}

.blog-posts.error-page form {
    margin-top: 20px;
}

.blog-posts.error-page form ::-webkit-input-placeholder {
    color: #0074b7 !important;
}

.blog-posts.error-page form :-moz-placeholder {
    color: #0074b7 !important;
}

.blog-posts.error-page form ::-moz-placeholder {
    color: #0074b7 !important;
}

.blog-posts.error-page form :-ms-input-placeholder {
    color: #0074b7 !important;
}

.blog-posts.error-page form .input-group input {
    border-radius: 0;
    color: #0074b7;
    font-size: 16px;
    padding-left: 15px;
    box-shadow: none;
    background: none;
    -webkit-appearance: none;
}

.blog-posts.error-page form .input-group-addon {
    border-radius: 0;
    border: none;
    background-color: #efe9e9;
    font-weight: bold;
    font-size: 16px;
    color: #716d6e;
    width: 41px;
    text-align: left;
    padding-right: 0;
    padding-left: 15px;
}

.blog-posts.error-page form .input-group-addon .glyphicon {
    font-size: 17px;
    margin: 0 2px 0 -2px;
}

.blog-posts.error-page form .form-control {
    height: 43px;
    border: 2px solid #efe9e9;
    box-shadow: none;
}

.blog-posts.error-page form .input-group {
    width: 100%;
}

@import "./components/header-block";
@import "./components/about-us";
@import "./components/prices";

@import "./components/newsletter";

@import './components/reviews';

@import "./components/information";
@import "./components/teaser";
@import "./components/partners";

@import "./components/contact";
@import "./components/services";

@import "./components/locations";
@import "./components/global/footer";

/* Checkout Modal
--------------------------------------------*/
#checkoutModal .modal-dialog {
    width: 770px;
    max-width: 770px;
}

#checkoutModal .modal-content {
    border-radius: 0px;
    box-shadow: none;
    border: 2px solid #fff;
}

#checkoutModal .modal-header {
    color: #fff;
    background-color: #0074b7;
    border-bottom: none;
}

#checkoutModal .modal-title {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
}

#form_checkout {
    label {
        color: #3D405C;
        font-family: Lato, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20.594px; /* 128.711% */
        text-transform: capitalize;
    }
}

#checkoutModal .close {
    color: #fff;
    text-shadow: none;
    opacity: .6;
    font-size: 27px;
    margin: 1px 7px 0 0;
}

#checkoutModal .close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
}

#checkoutModal .modal-body {
    padding: 0;
}

#checkoutModal .modal-body h3 {
    margin: 0;
    font-size: 18px;
    color: #0074b7;
    font-weight: bold;
    margin-bottom: 25px;
    text-transform: uppercase;
    padding-left: 20px;
}

#checkoutModal .checkout-info-box {
    background-color: rgba(15, 205, 255, 0.2);
    padding: 20px 30px;
}

#checkoutModal .checkout-info-box h3 {
    margin: 0;
    margin-bottom: 15px;
    display: flex;
    align-items: center;

    svg {
        margin-right: 10px;
    }
}

#checkoutModal .checkout-info-box p {
    color: #0074b7;
}

#checkoutModal .checkout-info-box h3 i {
    font-size: 23px;
}

#checkoutModal .checkout-info {
    margin-top: 30px;
    padding: 0 30px;
    border-bottom: 2px solid var(--grey, #AFADAD);
}

#checkoutModal .checkout-info-left,
#checkoutModal .checkout-info-right {
    width: 49%
}

#checkoutModal .checkout-info-left {
    float: left;
}

#checkoutModal .checkout-info-right {
    float: right;
}

#checkoutModal .checkout-info {
}

#checkoutModal .checkout-info h3 {
}

#checkoutModal .checkout-info a {
    font-size: 12px;
}

#checkoutModal .checkout-info .vehicle-image {
    width: 90%;
}

#checkoutModal .info-box {
    margin-bottom: 25px;
}


#checkoutModal .info-box .info-box-title {
    color: #3D405C;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20.594px; /* 128.711% */
    text-transform: capitalize;
}

#checkoutModal .info-box .info-box-description {
    margin-left: 31px;
    color: #000;
    /* Body */
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 25.2px */
    span {
        color: #000;
    }
}

#checkoutModal .checkout-personal-info {
    padding: 30px 0 0 0;
}

#checkoutModal .checkout-personal-info .form-group {
    float: left;
    width: 48%;
    min-height: 70px;
}

#checkoutModal .checkout-personal-info .form-group.left {
    margin-right: 7px;
}

#checkoutModal .checkout-personal-info .form-group.right {
    margin-left: 7px;
}

#checkoutModal .checkout-personal-info .form-group.all {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}

#checkoutModal .checkout-personal-info .age {
    float: left;
    width: 140px;
    min-height: 70px;
}

#checkoutModal form .styled-select-age {
    border: 2px solid #dbdbdb;
    height: 43px;
    position: relative;
}

#checkoutModal form .styled-select-age:after {
    content: '';
    background: #ffffff url('../images/dropdown-icon.png') no-repeat 5px 11px;
    right: 0px;
    top: 0px;
    width: 29px;
    height: 39px;
    position: absolute;
    pointer-events: none;
}

#checkoutModal form .styled-select-age select {
    border: none;
    font-size: 16px;
    width: 100%;
    background-image: none;
    background: #fff;
    -webkit-appearance: none;
    padding: 9px 10px;
    height: 39px;
}

#header-block .approval-rodo-checkbox {
    padding-left: 40px;

    color: #757575;
    font-family: Lato, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 16.8px */
    text-transform: capitalize;

    span.subtitle {
        color: #757575;
        font-family: Lato, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 16.8px */
        text-transform: capitalize;
    }

}

#checkoutModal form input {
    background-color: #fff;
    height: auto;
    min-height: 45px;
    max-height: 50px;
    border-radius: 5px;
    border: 1px solid #E0DDDD;
    box-shadow: none;
    line-height: 100%;
    font-size: 18px;
    padding: 10px;

    &::placeholder {
        color: var(--grey, #AFADAD);

        /* Body */
        font-family: Lato, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 25.2px */
    }
}

#checkoutModal form input:focus {
    color: #0074b7;
    border-color: #0074b7;
}

#checkoutModal form ::-webkit-input-placeholder {
    font-size: 14px !important;
}

#checkoutModal form :-moz-placeholder {
    font-size: 14px !important;
}

#checkoutModal form ::-moz-placeholder {
    font-size: 14px !important;
}

#checkoutModal form :-ms-input-placeholder {
    font-size: 14px !important;
}

form .checkbox {
    padding-left: 0;
}

//form input[type=checkbox] {
//    display: none;
//}

.checkbox label {
    font-size: 16px;
}

form .checkbox label:before {
    content: "";
    display: inline-block;
    font-size: 15px;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background-color: #dbdbdb;
    border: 2px solid #dbdbdb;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    color: #f3f3f3;
    text-align: center;
    line-height: 24px;
    float: left;
}

form input[type=checkbox]:checked + label:before {
    content: "\2713";
    color: #fff;
    background-color: #0074b7;
    border: 2px solid #0074b7;
    font-weight: 900;
    line-height: 20px;
}

#checkoutModal form .row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;

    &.approval_rodo_row {
        padding-left: 0;
        padding-right: 0;

        .approval_rodo {
            background: #F3F3F8;
            padding: 10px 20px;

            p {
                color: #3D405C;
                font-family: Lato, sans-serif;
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%; /* 16.8px */
                text-transform: capitalize;
            }
        }
    }
}

.validation.error {
    color: #fff;
    background-color: #ff0000;
    padding: 5px;
}

#checkoutModal .checkout-address-info {
    padding: 0 30px;
}

#checkoutModal .checkout-address-info .city {
    float: left;
    width: 335px;
    margin-right: 7px;
}

#checkoutModal .checkout-address-info .zip-code {
    float: left;
    width: 335px;
    margin-left: 7px;
}

#checkoutModal .newsletter {
    padding: 0 30px;
    margin: 30px 0;
}

#checkoutModal .modal-footer {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border-top: 0;
}

#checkoutModal .modal-footer .btn {
    font-size: 24px;
    font-weight: 900;
    background-color: #0074b7;
    color: #fff;
    border-radius: 0;
    height: 47px;
    line-height: 47px;
    padding: 0 15px;
}

#checkoutModal .modal-footer .btn-border {
    border: 1px solid #ccc;
    padding: 1px;
    margin: 0 10px 0 0;
    display: inline-block;
    background-color: #fff;
}

#checkoutModal .modal-footer #checkout_cancel_btn {
    border-radius: 5px;
    border: 2px solid #3D405C;
    background: #fff;
    padding: 10px 16px;
    color: #3D405C;

    /* Add med */
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20.594px; /* 128.711% */
    text-transform: capitalize;
}

#checkoutModal .modal-footer #checkout_submit_btn {
    border-radius: 5px;
    background: var(--prime, #0074B7);
    width: 100%;
    max-width: 350px;
    padding: 10px 16px;
    color: var(--white, #FFF);

    /* Add med */
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20.594px; /* 128.711% */
    text-transform: capitalize;
}

form .subtitle {
    display: block;
    font-size: 12px;
    margin: 5px 0;
}

.underline {
    height: 4px;
    width: 135px;
    display: block;
    background-color: #0074b7;
    margin: 20px auto 40px auto;
}

/* Start Media Queries
------------------------------------------------*/
/* Large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {
    /* Header
      --------------------------------------------*/
    header.large .brand {
        width: 75%;
    }

    header .header-info .contact {
        font-size: 14px;
    }

    header .navbar-default {
        font-size: 14px;
    }

    header.large {
        height: 133px;
    }

    header.small {
        height: 91px;
    }

    header.small .brand {
        margin: 28px 0 0 0;
    }

    /* Teaser
      --------------------------------------------*/
    #teaser form .styled-select-car select {
        font-size: 21px;
    }

    #teaser form .input-group-addon {
        font-size: 14px;
        width: 95px;
    }

    #teaser form .input-group-addon .glyphicon {
        font-size: 12px;
    }

    #teaser form .input-group input {
        font-size: 14px;
        padding-left: 10px;
    }

    #teaser form .styled-select-time select {
        font-size: 14px;
        padding: 0 5px;
    }

    #teaser form .date {
        width: 195px;
    }

    #teaser form .time {
        width: 105px;
    }

    #teaser form .styled-select-time:after {
        background: #ffffff url('../images/dropdown-icon.png') no-repeat 10px 18px;
    }

    #teaser form .submit {
        font-size: 19px;
    }

    #teaser .title {
        font-size: 30px;
    }

    #teaser .subtitle {
        font-size: 18px;
    }

    #teaser form {
        padding: 20px 30px;
    }

    #teaser .reservation-form-shadow {
        min-height: 465px;
    }

    /* Services
      --------------------------------------------*/
    #services h2 {
        font-size: 42px;
        margin: 0 0 20px 0;
    }

    #services .service-box {
        grid-template-rows: 40px auto;

        .service-icon {

            height: 43.5px;
            width: 43.5px;

            img {
                width: 43.5px;
                height: 43.5px;
            }
        }
    }

    #services .service-box .service-title {
        font-size: 24px;
    }

    #services .service-box .service-content {
        margin-top: 20px;
        font-size: 16px;
        line-height: 1.5;
    }

    /* Newsletter
      --------------------------------------------*/
    #newsletter .title {
        font-size: 24px;
    }

    #newsletter .newsletter-form {
        height: 50px;
        padding: 7px;
    }

    #newsletter .newsletter-form button {
        font-size: 17px;
    }

    #newsletter .social-icons ul li a {
        height: 51px;
        width: 55px;
        line-height: 51px;
        font-size: 31px;
    }

    /* Vehicles
      --------------------------------------------*/
    #prices .title {
        font-size: 32px;
    }

    #prices #vehicle-nav-container {
        height: 335px;
    }

    #prices .vehicle-nav li a {
        font-size: 16px;
        height: 55px;
        line-height: 55px;
    }

    #prices .vehicle-price {
        font-size: 20px;
    }

    #prices .vehicle-price {
        font-size: 20px;
    }

    #prices .vehicle-price .info {
        font-size: 16px;
    }

    #prices .table {
        font-size: 12px;
    }

    #prices .reserve-button {
        font-size: 22px;
    }

    #prices .reserve-button {
        font-size: 22px;
    }

    #reviews .review {
        font-size: 18px;
    }

    #reviews .author {
        font-size: 16px;
    }

    /* Locations
      --------------------------------------------*/
    #locations .location-select h2 {
        font-size: 28px;
    }

    #locations .map {
        height: 500px;
    }

    /* Information
      --------------------------------------------*/
    #information .title {
        font-size: 28px;
        margin: 0 0 20px 0;
    }

    #information .subtitle {
        font-size: 20px;
        margin: 0 0 30px 0;
    }

    #information p {
        font-size: 14px;
        line-height: 1.7;
        margin-bottom: 20px;
    }

    #information .btn {
        font-size: 20px;
    }

    /* Partners
      --------------------------------------------*/
    #partners h2 {
        font-size: 42px;
        margin: 0 0 20px 0;
    }

    #partners p {
        font-size: 16px;
    }

    /* Contact
      --------------------------------------------*/
    #contact h2 {
        font-size: 32px;
    }

    #contact .contact-info {
        font-size: 16px;
    }

    #contact form .form-group {
        margin-bottom: 15px;
    }

    #contact form .text-field {
        height: 40px;
        line-height: 40px;
        font-size: 16px;
    }

    #contact .contact-box {
        font-size: 13px;
    }

    #contact .contact-box img {
        width: 65px;
    }

    #contact .contact-box-name {
        font-size: 20px;
    }

    #contact form ::-webkit-input-placeholder {
        font-size: 16px !important;
    }

    #contact form :-moz-placeholder {
        font-size: 16px !important;
    }

    #contact form ::-moz-placeholder {
        font-size: 16px !important;
    }

    #contact form :-ms-input-placeholder {
        font-size: 16px !important;
    }

    #contact form .submit-message {
        font-size: 20px;
    }

    /* Footer
      --------------------------------------------*/
    footer .footer-nav li a {
        font-size: 16px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
    /* Header
      --------------------------------------------*/
    header .brand {
        display: none;
    }

    .navbar-brand {
        padding: 0;
        width: 230px;
    }

    header .navbar-brand {
        display: block;
    }

    header .navbar-toggle {
        margin-top: 4px;
    }

    header.large {
        height: 91px;
    }

    header.large .header-info {
        display: none;
    }

    header .navbar-default .navbar-collapse {
        background-color: #fff;
        padding: 32px;
        z-index: 1183;
        position: absolute;
        width: 100%;
        margin: 15px 0 0 0;
        border: 14px solid #0074b7;
        border-top: none;
        box-shadow: 0px 4px 1px -1px rgba(50, 50, 50, 0.32);
    }

    /* Teaser
      --------------------------------------------*/
    #teaser {
        min-height: 1100px;
    }

    #teaser .title {
        text-align: center;
    }

    #teaser .carousel {
        margin-bottom: 70px;
    }

    #teaser form .date {
        width: 65%;
    }

    #teaser form .time {
        width: 32%;
    }

    /* Newsletter
      --------------------------------------------*/
    #newsletter .title {
        text-align: center;
        margin-bottom: 25px;
    }

    #newsletter .newsletter-form {
        width: 100%;
    }

    #newsletter .social-icons {
        width: 100%;
        text-align: center;
        margin-top: 25px;
    }

    #newsletter .social-icons ul li {
        display: inline-block;
        float: none;
    }

    /* Vehicles
      --------------------------------------------*/
    #prices .styled-select-vehicle-data {
        display: block;
    }

    #prices #vehicle-nav-container {
        height: auto;
    }

    #prices .vehicle-nav {
        display: none;
    }

    #prices .vehicle-nav-control {
        display: none;
    }

    #prices .vehicle-img {
        margin: 15px 0;
    }

    #prices .vehicle-img img {
        display: inline-block;
    }

    /* Locations
      --------------------------------------------*/
    #locations .location-select {
        height: 155px;
    }

    #locations .location-select h2 {
        text-align: center;
    }

    #locations .styled-select-location {
        margin: 22px 21px 0 22px;
    }

    /* Information
      --------------------------------------------*/
    #information {
        text-align: center;
    }

    #information img {
        display: inline-block;
        margin-bottom: 25px;
    }

    #information .video {
        margin-bottom: 25px;
    }

    /* Partners
      --------------------------------------------*/
    #partners {
        padding-bottom: 50px;
    }

    #partners img {
        display: inline-block;
        margin-bottom: 40px;
    }

    /* Contact
      --------------------------------------------*/
    #contact .contact-info {
        margin-top: 40px;
    }

    /* CheckOut Modal
      --------------------------------------------*/
    #checkoutModal .modal-dialog {
        width: 100%;
        margin: 0;
    }

    #checkoutModal .form-group {
        float: none !important;
        width: 100% !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    #checkoutModal .modal-footer {
        text-align: center;
    }
}

/* Small devices (660px and down) */
@media (max-width: 660px) {
    /* CheckOut Modal
      --------------------------------------------*/
    #checkoutModal .checkout-info {
        float: none;
        width: 100%;
        max-width: 100%;
        padding: 0 45px 0 20px;
    }

    #checkoutModal .checkout-info-left,
    #checkoutModal .checkout-info-right {
        width: 100%;
        padding: 0 0 0 0;
        float: none;
    }
}

/* Small devices (480px and down) */
@media (max-width: 480px) {
    #teaser form .submit {
        font-size: 18px;
    }
}

/* Change default Nav Breakpoint */
@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }

    .navbar-left,
    .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;

        &.show {
            display: flex !important;
        }
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }
}

.bg_blue {
    background-color: #0074b7 !important;
    color: #fff !important;
    font-weight: normal;
}

.bg_blue a {
    color: #fff !important;
    font-weight: bold;
}

.bg_blue a:hover {
    color: #0074b7 !important;
    border-color: #0074b7 !important;
    background-color: #fff !important;
}

.blue {
    color: #0074b7 !important;
    font-size: 21px !important;
}

.hidden-textarea {
    position: absolute;
    top: -9999px;
    left: -9999px;
    width: 1px;
    height: 1px;
    opacity: 0;
}

#partners img {
    background-color: #fff;
    margin: 10px auto;
    /*padding: 20px;*/
}

.strtoupper {
    text-transform: uppercase !important;
}

strong {
    font-family: Lato Bold, sans-serif !important;
}

small {
    font-family: Lato Medium, sans-serif !important;
}

/* Terms
--------------------------------------------*/
#terms {
    margin-top: 90px;
    position: relative;
    z-index: 2;

    strong {
        font-family: Lato Bold, sans-serif !important;
    }

    small {
        font-family: Lato Medium, sans-serif !important;
    }

    ul > li {
        text-align: left;
    }

    button {
        &.open {
            svg {
                transform: rotate(180deg);
            }
        }

        &:focus {

            box-shadow: none;
        }
    }
}

h2 {
    font-family: Lato Bold, sans-serif !important;

}

#terms h2 {
    font-family: Lato Bold, sans-serif !important;
    font-size: 46px;
    font-weight: 900;
    margin: 0 0 25px 0;
    padding: 0;
    text-align: center;
}

h3 {
    font-family: Lato Medium, sans-serif !important;
}

p {
    font-weight: 600;
}

#terms h3 {
    font-family: Lato Medium, sans-serif !important;
}

a:hover {
    text-decoration: underline !important;
}

.validation {
    display: block;
    margin: 5px 0;
    text-align: left;
    color: #ff0000;
}

.validation_error {
    color: #ff0000 !important;
    border-color: #ff0000 !important;
}

.validation_ok {
    color: #00a82a !important;
    border-color: #00a82a !important;
}

.isHide {
    display: none;
}

.alert {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #ff0000;
    border-radius: 0;
    margin-bottom: 40px;
    border: 5px solid #fff;

    &.hidden {
        display: none;
    }
}

.order_form_wrapper_calendar {
    left: 164px !important;
}

#contact .form-group_left {
    width: 49%;
    float: left;
}

#contact .form-group_right {
    width: 49%;
    float: right;
}

#teaser form .styled-input-car.validation_error {
    margin-bottom: 0;
}

#teaser form .styled-input-car.validation_ok {
    margin-bottom: 23px;
}

.form-group-left,
.form-group-right {
    width: 49%;
}

.form-group-left {
    float: left;
    line-height: 38px;
    text-align: left;
}

.form-group-right {
    float: right;
}

.form-group.top {
    min-height: 50px !important;
    margin-top: 20px;
}

#contact .alert,
#order .alert,
#checkoutModal .alert {
    border: none;
}

#order .alert {
    margin-top: 0;
}

#teaser form .alert {
    margin-top: 0;
}

#newsletter .alert.validation_ok {
    background-color: #fff;
}

#contact .alert.validation_ok,
#checkoutModal .alert.validation_ok {
    background-color: #00a82a !important;
    color: #fff !important;
}

#newsletter .alert.validation_error,
#contact .alert.validation_error,
#checkoutModal .alert.validation_error {
    color: #fff !important;
}

#newsletter .alert small,
#contact .alert small,
#checkoutModal .alert small {
    display: block;
    font-size: 12px;
}

#prices .box .box_content small.blue {
    color: #0074b7;
    font-size: 16px;
}

.custom-checkbox {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding-left: 25px;
}

.hidden-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.custom-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 28px;
    width: 29px;
    background-color: #eee;
}

.custom-checkbox:hover .custom-checkmark {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #757575;
    //width: 24px;
    //height: 24px;
}

.hidden-checkbox:checked + .custom-checkmark {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='29' viewBox='0 0 28 29' fill='none'%3E%3Crect width='28' height='28' transform='translate(0 0.5)' fill='white'/%3E%3Cpath d='M4 14.5L9.79289 20.2929C10.1834 20.6834 10.8166 20.6834 11.2071 20.2929L23 8.5' stroke='%230074B7' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
}

p span.price {
    color: #0074b7;
    font-size: 22px;
}

#terms {
    position: relative;

    h3, p {
        text-align: left;
        margin-left: 0;
        margin-right: auto;
    }

    .show-button {
        background: transparent;
        border: none;
        color: #757575;

        /* H4 */
        font-family: Lato, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        margin: 0 auto;

    }

    .overlay {
        width: 100%;
        max-width: 100%;
        height: 307px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
        position: absolute;
        z-index: 99;
        display: block;
        left: 0;
        top: 0;
    }

    #regulamin.expanded {
        max-height: 307px;
        overflow: hidden;
    }

    &.open {
        .overlay {
            display: none;
        }

        #regulamin.expanded {
            max-height: 100%;
        }
    }
}

#regulamin {
    * {
        color: var(--black, #151616);

    }

    ul {
        padding-left: 20px;

        > li {
            color: var(--black, #151616) !important;
            text-align: left;
        }
    }

    ol > li {
        text-align: left;
        color: var(--black, #151616) !important;

    }

    &.expanded {
        max-height: 307px;
        overflow: hidden;
    }


}

#gallery {
    margin-bottom: 90px;
    position: relative;
    z-index: 2;


    h2 {
        color: var(--black, #151616);

        /* H2 */
        font-family: Lato Medium, sans-serif !important;
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 30px;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-gap: 30px;
        width: 100%;
        max-width: 100%;

        img {
            border-radius: 5px;
            border: 2px solid var(--grey, #AFADAD);
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }
}

#gallery .box {
    padding: 10px;
    color: #0074b7;
}

#gallery .box .box_content {
    border: 5px solid #0074b7;
    background-color: #fff;
    padding: 5px;
    overflow: hidden;
}

#gallery .box .box_content img {
    display: block;
    width: 100%;
}

#gallery .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}


.promo_range {
    display: block;
    font-size: 16px;
}

.promo_range_line {
    display: block;
}

#contact.admin form textarea {
    display: block;
    width: 100%;
}

.contact.fb {
    margin-left: 20px;
}

.contact.fb img {
    width: 32px;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
    background-color: #fafafa;
}

.datepicker table tr td.possible,
.datepicker table tr td.possible:hover {
    background-color: #e6faff;
}

.infoOff {
    font-size: 20px;
    text-align: center;
    color: #fff;
    background-color: #0074b7;
    border-radius: 0;
    margin-bottom: 40px;
    border: 5px solid #fff;
}

@media screen and (max-width: 1240px) {
    #gallery .gallery {
        width: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }
    .container {
        width: 100% !important;
        max-width: 1200px !important;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 990px !important;
    }
    #gallery .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
    #checkoutModal .checkout-personal-info .form-group {
        float: left;
        width: 100%;
        min-height: 70px;
    }
    #checkoutModal form input {
        height: auto !important;
        min-height: 43px !important;
        max-height: 100%;
        line-height: 100%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 740px !important;
    }
    #gallery .gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    #header-block {
        background-size: auto 100% !important;
        background-position: left center !important;
    }
    .scrollup {
        bottom: 20px;
        right: 10px;
    }
}

@media screen and (max-width: 560px) {

    #gallery .gallery {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 375px) {
    .order_form_wrapper_calendar {
        left: 144px !important;
    }
}


