.about-us {
    background: linear-gradient(180deg, #ECF2FF 0%, #FFF 100%);
    padding-top: 100px;
    padding-bottom: 100px;

    .row {
        align-items: center;
    }

    .left-about-us {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: center;

        img {
            margin-bottom: 30px;
        }

        span {
            color: #131313;
            font-family: Lato, sans-serif;
            font-size: 36px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            margin-bottom: 20px;
        }
    }

    .about-us-content {
        color: var(--black, #151616);
        /* Body */
        font-family: Lato, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 25.2px */
        p {
            color: var(--black, #151616)
        }
    }
}

@media screen and (max-width: 1200px) {
    .about-us {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 768px) {
    .left-about-us {
        margin-bottom: 30px;
        text-align: left;
    }
    .about-us .about-us-content p {
        margin-left: 0;
        margin-right: auto;
        width: 100%;
    }
}
