/* Animation Delay
--------------------------------------------*/
.delay05s {
    animation-delay: 0.5s;
}

.delay1s {
    animation-delay: 1s;
}

.delay15s {
    animation-delay: 1.5s;
}

.delay2s {
    animation-delay: 2s;
}

.v-hidden {
    visibility: hidden;
}
