header {
    height: auto;
    max-height: 108px;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: #fff;

    .row {
        justify-content: space-between;
        align-items: center;
    }

}

header .box {
    margin: 0 auto;
}

header .brand {
    margin: 45px 0 0 0;
}

header .brand h1 {
    margin: 0;
    padding: 0;
}

header .header-info .contact {
    font-size: 17px;
    font-weight: 900;
    margin-top: 5px;
}

header .header-info .language-switch {
    background-color: #0074b7;
    margin-left: 24px;

    font-weight: normal;
    text-transform: uppercase;
    padding-right: 10px;

}

header .reservation-link {
    text-decoration: none;
    color: var(--black, #151616);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    padding: 16px 27px;
    border-radius: 5px;
    border: 2px solid var(--prime, #0074B7);
    margin-left: 20px;
}

.reservation-item-mob {
    display: none;
}

header .header-info .language-switch a {
    color: #fff;
    font-weight: bold;
    display: block;
    padding: 11px 50px 8px 15px;
    background: transparent url('../images/lang-select-icon.png') no-repeat 154px 14px;
}

header .header-info .language-switch .dropdown-menu {
    box-shadow: none;
    border-radius: 0;
    min-width: 188px;
    padding: 0;
}

header .top-header {
    margin-bottom: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &-data {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &:first-child {
            margin-right: 30px;
        }
    }

    a {
        color: var(--prime, #0074B7);
        font-family: Lato, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; /* 125% */
        margin-left: 10px;
    }
}

header .header-info .language-switch .dropdown-menu li a {
    color: #716d6e;
    padding: 5px 15px 5px 15px;
    background-image: none;
}

header .nav-collapse .language-switch ul {
    height: 40px;
    display: none;
    background-color: #efe9e9;

    &.show {

        display: block;
        z-index: 999;
    }
}

header .nav-collapse .language-switch ul#countries ul a {
    display: block !important;
    width: 100%;
    height: 40px;
}

header .nav-collapse .language-switch .dropdown-menu li a:hover {
    background-color: #efe9e9;
}

header .header-info .language-switch .dropdown-menu li img {
    margin-right: 10px;
}

header.small {
    height: 95px;
    box-shadow: 0 0px 14px -2px gray;
}

header.small .header-info {
    display: none;
}

header.small .brand {
    margin: 24px 0 0 0;
    width: 50%;
}

header.large {
    height: 147px;
    box-shadow: none;
}

header.large .header-info {
    display: block;
}

header.large .brand {
    margin: 25px 0 0 0;
    width: 100%;
}

@media screen and (max-width: 1240px) {
    header .row {
        align-items: flex-start;

    }
    header {
        padding-top: 10px;
        padding-bottom: 10px;

        .logo {
            padding-left: 20px;
        }
    }
    .js .nav-collapse-0.opened {
        max-height: 100% !important;
    }
    header .top-header {
        display: none !important;
    }
    .header-menu {
        align-items: flex-end;
        width: 100%;
        max-width: 300px;

        .navbar-collapse ul {
            background: #ffffff;
            //padding: 20px;

            > li a {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    .reservation-link {
        display: none;
    }
    .reservation-item-mob {
        display: block;
        width: 100%;

        a.reservation-link {
            display: block;
            width: auto;
            margin-left: 0;
            margin-right: auto;
        }
    }
}

@media screen and (max-width: 375px) {
    .logo {
        img {
            max-width: 240px;
        }
    }
    .nav-toggle {
        top: -5px;
    }
}
