/* Information
--------------------------------------------*/
#information {
    margin-top: 90px;
    position: relative;
    z-index: 2;
    height: 100%;
}

#information .row {
    margin-bottom: 90px;
}


#information img {
    width: auto;
    max-width: 470px;
    height: auto;
}


#information .row:nth-child(even) {
    flex-flow: row-reverse;
}

#information .title {
    color: var(--black, #151616);
    /* H3 bold */
    font-family: Lato Bold, sans-serif !important;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: 33px; /* 110% */
    margin: 0 0 20px 0;
    padding: 0;
    text-align: left;
    width: auto;
    max-width: 330px;
}

#information .subtitle {
    color: #131313;
    font-family: Lato, sans-serif !important;
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: 110%; /* 28.6px */
    margin: 0 0 20px 0;
    padding: 0;
    text-align: left;
}

#information .media-column p {
    margin: 0 0 0 auto;
    text-align: right;
}

#information p {
    font-family: Lato Medium, sans-serif !important;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    color: var(--black, #151616);

    text-align: left;
    margin: 0 auto 0 0;
}

#information .btn-border {
    border: 1px solid #ccc;
    padding: 1px;
    margin: 0 20px 0 0;
    display: inline-block;
}

#information .btn {
    font-size: 24px;
    font-weight: 900;
    background-color: #0074b7;
    color: #fff;
    border-radius: 0;
    border: none;
    line-height: 47px;
    padding: 0 15px;
    box-shadow: 6px 6px 0 #efe9e9;
    margin-right: 15px;
    transition: .2s;
}

#information .btn:hover {
    background-color: #716d6e;
}

#information .btn-gray {
    background-color: #716d6e;
}

#information .btn-gray:hover {
    background-color: #0074b7;
}

#information .video {
    position: relative;
    padding-bottom: 0;
    padding-top: 0;
    height: auto;
    max-height: 100%;
    overflow: hidden;
}

//#information .video iframe,
//#information .video object,
//#information.video embed {
//    position: absolute;
//    top: 0;
//    left: 0;
//    width: 100%;
//    height: 100%;
//}
@media screen and (max-width: 1200px) {
    #information .row {
        flex-flow: row wrap !important;
        margin-bottom: 60px;

        .media-column {
            p {
                margin: 0 auto;
            }
        }
    }
    #information .row:last-child {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 560px) {


}

@media screen and (max-width: 445px) {

}

@media screen and (max-width: 375px) {

}
