/* Locations
--------------------------------------------*/
#locations {
    margin-top: 0;
    position: relative;
    z-index: 2;
}

#locations .location-select-container {
    z-index: 1;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 770px;
    padding: 0 !important;

    .row {
        width: 100%;
    }
}

#locations .location-select {
    background-color: #0074b7;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#locations .location-select h2 {
    font-family: Lato Medium, sans-serif !important;
    color: #ffffff;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    //margin: 30px 0 0 30px;
}

#locations .styled-select-location {
    height: 47px;
    position: relative;
    margin: 22px 21px 0 0;
    background-color: #fff;
}

#locations .styled-select-location:after {
    content: '';
    background: #ffffff url('../images/dropdown-icon.png') no-repeat 5px 21px;
    right: 0px;
    top: 0px;
    width: 30px;
    height: 43px;
    position: absolute;
    pointer-events: none;
}

#locations .styled-select-location select {
    border: none;
    font-size: 18px;
    width: 100%;
    background-image: none;
    background: #fff;
    -webkit-appearance: none;
    padding: 11px 10px;
    height: 43px;
}

#locations .map {
    height: 550px;
    background-color: #ccc;
    position: relative;
}

#locations .map h2 {
    color: #0074b7;
    padding: 0 10px;
    margin-bottom: 4px;
}

#locations .map p {
    font-size: 16px;
    padding: 0 10px;
}

.arrow-down-location {
    width: 0;
    height: 0;
    border-left: 37px solid transparent;
    border-right: 37px solid transparent;
    border-top: 37px solid #0074b7;
    margin: 0 auto;
}

.navi {
    background-color: #0074b7;
    padding: 20px 75px;
    margin: 0 auto;
    position: relative;
    border-radius: 5px;
    top: -48px;
    color: var(--white, #FFF);
    /* H3 bold */
    font-family: Lato Medium, sans-serif !important;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: 33px; /* 110% */
    width: 100%;
    max-width: 975px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        border-radius: 5px;
        background: var(--white, #FFF);
        padding: 18px 40px;
        width: 100%;
        max-width: 248px;
        color: var(--prime, #0074B7);
        font-family: Lato Medium, sans-serif !important;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 125% */
        text-transform: capitalize;
        text-align: center;

        &:hover {
            text-decoration: none;
            color: #fff;
            background: var(--prime, #0074B7);
        }
    }
}

@media screen and (max-width: 992px) {
    .navi, #locations .location-select {
        border-radius: 0;
    }
}

@media screen and (max-width: 768px) {

    #locations .location-select {
        height: auto !important;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .navi {
        display: flex;
        flex-flow: column;
        align-items: center;
        font-size: 20px;
        top: 0;
        padding-left: 20px;
        padding-right: 20px;

        a {
            margin-top: 16px;
        }
    }
}

@media screen and (max-width: 560px) {
    #newsletter .g-recaptcha {
        max-width: calc(100vw - 60px) !important;
    }
}
