/* Newsletter
--------------------------------------------*/
#newsletter {
    margin-top: 90px;
    position: relative;
    z-index: 2;

    .container {
        background-color: #0074b7;
        padding: 30px;
        border-radius: 5px;
    }
}

#newsletter h3 {
    color: var(--white, #FFF);
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
}

#newsletter .checkbox label {
    padding-left: 0;
    color: #fff;
    font-size: 16px;
}


#newsletter .title {
    color: var(--white, #FFF);
    text-transform: uppercase;
    /* H3 bold */
    font-family: Lato Bold, sans-serif !important;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: 33px; /* 110% */
    text-align: left;
    margin: 0 auto 30px 0;
    padding: 0;
}

#newsletter .newsletter-form {
    /*width: 62%;*/


    .input-group {
        background-color: #fff;
        height: auto;
        padding: 10px;
        margin: 0;
    }

    .custom-checkbox {
        width: 100%;
        color: var(--white, #FFF);
        font-family: Lato, sans-serif;
        font-size: 10px;
        font-style: normal;
        font-weight: 800;
        line-height: 20.594px; /* 205.937% */
        text-transform: capitalize;
        padding-left: 37px;

        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        text-align: left;

        input {
            flex: 0;
            width: 0;
        }
    }
}

#newsletter .newsletter-form input {
    box-shadow: none;
    border: none;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;

    &[type="email"] {
        height: 100%;

        ::placeholder {
            color: var(--black, #151616);
            /* Add med */
            font-family: Lato, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20.594px; /* 128.711% */
            text-transform: capitalize;
        }
    }


}

#newsletter .newsletter-form button {
    border-radius: 5px;
    background: var(--prime, #0074B7);
    padding: 10px 16px;
    width: 100%;
    color: var(--white, #FFF);
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    text-transform: capitalize;
    border: none;
    box-shadow: none;
}

.approval {
    display: block;
}

.approval .g-recaptcha {
    margin-top: 10px;
}

.approval .row {
    margin: 0;
}

.approval_rodo {
    display: block;
    margin: 0;
    padding: 10px;
    background-color: #f8f8f8;
}

.approval_rodo p {
    margin: 0;
    font-size: 12px;
    text-align: justify;
}

.approval_rodo_more {
    margin-top: 10px;
}

#newsletter .approval_rodo {
    background: none;
    padding: 30px 0 10px 0;
}

#newsletter .approval_rodo p {
    color: #fff;
}

#newsletter .approval_rodo p a {
    color: #fff;
}

#newsletter .newsletter-form .button {
    background-color: #fff;
    border-radius: 0;
    border: 2px solid #b8b6b6;
    margin-left: 1px;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    color: #716d6e;
    padding: 0 10px;
    height: 37px;
    line-height: 36px;
    transition: 0.2s;
}

#newsletter .newsletter-form .button:hover {
    background-color: #716d6e;
    border: 2px solid #716d6e;
    color: #fff;
}

#newsletter .social-icons {
    width: 38%;
}

#newsletter .social-icons ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#newsletter .social-icons ul li {
    display: block;
    float: right;
}

#newsletter .social-icons ul li a {
    height: 55px;
    width: 65px;
    background-color: #0074b7;
    display: block;
    margin-left: 10px;
    text-align: center;
    line-height: 55px;
    color: #fff;
    font-size: 36px;
}

#newsletter .social-icons ul li .facebook {
    background-color: #365595;
}

#newsletter .social-icons ul li .googleplus {
    background-color: #d41332;
}

#newsletter .social-icons ul li .twitter {
    background-color: #36a4cf;
}

#newsletter .social-icons ul li:hover {
    opacity: 0.8;
}

#newsletter form ::-webkit-input-placeholder {
    font-size: 16px;
}

#newsletter form :-moz-placeholder {
    font-size: 16px;
}

#newsletter form ::-moz-placeholder {
    font-size: 16px;
}

#newsletter form :-ms-input-placeholder {
    font-size: 16px;
}

@media screen and (max-width: 1200px) {
    #newsletter {
        max-width: calc(100vw - 40px);
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 768px) {
    #newsletter .title {
        text-align: left !important;
        font-size: 30px;
        margin-bottom: 30px;
    }
    #newsletter h3 {
        margin-bottom: 30px;
        text-align: left;
    }
    #newsletter .approval_rodo {
        padding-bottom: 30px;
    }
    #newsletter {
        padding-bottom: 0;

        .container {
            //padding: 20px 10px;
        }

        .newsletter-form {
            height: 100% !important;
            padding: 0 !important;

            .input-group {
                background: transparent;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    #newsletter .approval_rodo {
        padding-top: 0;
    }
    #newsletter .newsletter-form button {
        border-radius: 5px;
        border: 1px solid var(--black, #151616);
        background: var(--white, #FFF);
        padding: 10px;
        color: var(--prime, #0074B7);
        font-family: Lato, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 125% */
        text-transform: capitalize;
    }
    .newsletter-button-col {
        padding: 0 !important;
        margin-top: 30px;
    }
}
