/* Newsletter
--------------------------------------------*/
#newsletter {
    background-color: #0074b7;
    margin-top: 90px;
    padding: 90px 0;
    position: relative;
    z-index: 2;
}

#newsletter h3 {
    color: #fff;
}

#newsletter .checkbox label {
    padding-left: 0;
    color: #fff;
    font-size: 16px;
}


#newsletter .title {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

#newsletter .newsletter-form {
    /*width: 62%;*/
    background-color: #fff;
    height: 55px;
    padding: 9px;
}

#newsletter .newsletter-form input {
    box-shadow: none;
    border: none;
}

#newsletter .newsletter-form .button {
    background-color: #fff;
    border-radius: 0;
    border: 2px solid #b8b6b6;
    margin-left: 1px;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    color: #716d6e;
    padding: 0 10px;
    height: 37px;
    line-height: 36px;
    transition: 0.2s;
}

#newsletter .newsletter-form .button:hover {
    background-color: #716d6e;
    border: 2px solid #716d6e;
    color: #fff;
}

#newsletter .social-icons {
    width: 38%;
}

#newsletter .social-icons ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#newsletter .social-icons ul li {
    display: block;
    float: right;
}

#newsletter .social-icons ul li a {
    height: 55px;
    width: 65px;
    background-color: #0074b7;
    display: block;
    margin-left: 10px;
    text-align: center;
    line-height: 55px;
    color: #fff;
    font-size: 36px;
}

#newsletter .social-icons ul li .facebook {
    background-color: #365595;
}

#newsletter .social-icons ul li .googleplus {
    background-color: #d41332;
}

#newsletter .social-icons ul li .twitter {
    background-color: #36a4cf;
}

#newsletter .social-icons ul li:hover {
    opacity: 0.8;
}

#newsletter form ::-webkit-input-placeholder {
    font-size: 16px;
}

#newsletter form :-moz-placeholder {
    font-size: 16px;
}

#newsletter form ::-moz-placeholder {
    font-size: 16px;
}

#newsletter form :-ms-input-placeholder {
    font-size: 16px;
}
