/* Partners
--------------------------------------------*/
#partners {
    padding: 30px 0;
    background-color: #fff;
    position: relative;
    z-index: 2;
    margin-top: 80px;
    margin-bottom: 100px;
    height: auto;

    .title {
        margin-bottom: 38px;
    }

    h2 {
        color: #131313;
        /* H2 */
        font-family: Lato Medium, sans-serif !important;
        text-align: center;
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: 0 0 25px 0;
        padding: 0;
    }

    p {
        margin: 40px 0 60px 0;
        font-size: 18px;
        line-height: 1.7;
    }

    figure {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;

        img {
            margin: 0;
        }
    }
}

@media screen and (max-width: 1240px) {
    #partners {
        padding: 50px 0;
        margin-top: 40px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 768px) {
    #partners {
        .underline {
            width: 100%;
        }

        figure {
            justify-content: space-around;
        }
    }
}
