/* Partners
--------------------------------------------*/
#partners {
    padding: 100px 0;
    background-color: #fff;
    position: relative;
    z-index: 2;
    margin-top: 80px;
    margin-bottom: 100px;
    height: auto;

    .title {
        margin-bottom: 38px;
    }

    h2 {
        font-size: 46px;
        font-weight: 900;
        text-align: center;
        margin: 0 0 25px 0;
        padding: 0;
    }

    p {
        margin: 40px 0 60px 0;
        font-size: 18px;
        line-height: 1.7;
    }

    figure {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;

        img {
            margin: 0;
        }
    }
}
