/* Vehicles
--------------------------------------------*/
#prices {
    margin-top: 90px;
    position: relative;
    z-index: 2;
    height: 100%;
}

.row.prices {
    margin: 5px 0;
    padding: 10px;
    background-color: #f6f6f6;
}

.row.prices .form-group {
    margin-bottom: 0 !important;
}

h2.prices {
    margin: 30px 0 !important;
}

#prices .title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}

#prices {
    padding-left: 0;
    padding-right: 0;

    h2 {
        color: var(--black, #151616);
        text-align: center;
        font-family: Lato Bold, sans-serif !important;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%; /* 55px */
    }

    .subtitle {
        color: var(--black, #151616);
        font-family: Lato Medium, sans-serif !important;
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%;
        margin-bottom: 0;
    }
}

.prices-grid {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 0 30px
}

#prices .box {
    padding: 10px;
    color: #0074b7;
}

#prices .box_content {
    background-color: #fff;
    margin-bottom: 30px;
    margin-top: 0 !important;

    &:last-child {
        h3 {
            font-size: 23px;
        }
    }

    .top-price-box {
        border-radius: 5px 5px 0px 0px;
        border: 1.187px solid var(--grey, #AFADAD);
        padding: 20px;
    }

    .bottom-price-box {
        padding: 20px;
        border-radius: 0px 0px 5px 5px;
        background: var(--prime, #0074B7);

        h4 {
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        small {
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }
}

#prices .box_content h2 {
    color: var(--prime, #0074B7);
    font-family: Lato Medium, sans-serif !important;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

#prices .box_content h3 {
    color: var(--prime, #0074B7);
    font-family: Lato, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0;
}

#prices .box_content h4 {
    color: var(--white, #FFF);
    font-family: Lato Medium, sans-serif !important;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#prices .box_content small {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

#prices .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
    width: 100%;
}

#prices .box_content.promo h2,
#prices .box_content.promo .subtitle {
    color: #00a82a;
}

#prices .box_content.promo h4 {
    display: flex;
    flex-flow: column;

    p {
        color: #017f21;
        font-size: 20px;
    }

}

#prices .box_content.promo {
    .promo-range {

        p {
            font-size: 16px;
            color: #ffffff;
            text-align: center;
            margin-bottom: 0;
        }
    }

    .standart-price {
        line-height: 20px;
        margin-bottom: 10px;

        s {
            color: #017f21;
            font-size: 20px;
        }

    }
}

#prices .box_content.promo .bottom-price-box {
    background-color: #00a82a;

    .promotional-price {
        color: #fff;
        font-size: 32px;
        padding: 10px;
        font-weight: bold;

        small {
            color: #fff;
            font-size: 12px;
            text-transform: uppercase;
        }
    }
}

#prices .box_content.promo .top-price-box {
    border-color: #00a82a;
}

#prices .vehicle-nav-row {
    padding-right: 0;
}

#prices #vehicle-nav-container {
    height: 365px;
    overflow: hidden;
    position: relative;
    margin-bottom: 1px;
}

#prices .vehicle-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    top: 0px;
    position: absolute;
    width: 100%;
}

#prices .vehicle-nav-control {
    padding-right: 10px;
}

#prices .vehicle-nav-control a {
    width: 50%;
    height: 40px;
    display: block;
    background-color: #716d6e;
    text-align: center;
    float: left;
    color: #fff;
    line-height: 40px;
    font-size: 24px;
    transition: all 0.25s ease-in-out;
}

#prices .vehicle-nav-control a:first-of-type {
    border-right: 1px solid #fff;
}

#prices .vehicle-nav-control a:hover {
    background-color: rgba(198, 19, 52, 0.4);
    color: #716d6e;
}

#prices .vehicle-nav li {
    background-color: #e3e2e2;
    margin-bottom: 1px;
    position: relative;
    transition: .2s;
    margin-right: 10px;
}

#prices .vehicle-nav li span {
    width: 0px;
    height: 0px;
    border-left: 10px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    display: block;
    position: absolute;
    right: -10px;
    top: 20px;
    transition: 0.2s;
}

#prices .vehicle-nav li:hover {
    background-color: #d1cece;
}

#prices .vehicle-nav li.active {
    background-color: rgba(198, 19, 52, 0.4);
    font-weight: bold;
}

#prices .vehicle-nav li.active span {
    border-left-color: rgba(198, 19, 52, 0.4);
}

#prices .vehicle-nav li a {
    font-size: 18px;
    color: #716d6e;
    padding-left: 15px;
    display: block;
    height: 60px;
    line-height: 60px;
}

#prices .styled-select-vehicle-data {
    border: 2px solid #efe9e9;
    height: 43px;
    position: relative;
    width: 100%;
    display: none;
}

#prices .styled-select-vehicle-data:after {
    content: '';
    background: #ffffff url('../images/dropdown-icon.png') no-repeat 5px 18px;
    right: 0px;
    top: 0px;
    width: 30px;
    height: 39px;
    position: absolute;
    pointer-events: none;
}

#prices .styled-select-vehicle-data select {
    border: none;
    font-size: 16px;
    width: 100%;
    background-image: none;
    background: #fff;
    -webkit-appearance: none;
    padding: 1px 10px;
    height: 39px;
}

#prices .vehicle-img {
    text-align: center;
}

#prices .vehicle-img img {
    display: inline-block;
}

#prices .vehicle-price {
    background-color: rgba(198, 19, 52, 0.4);
    height: 53px;
    line-height: 53px;
    padding: 0 10px;
    font-size: 24px;
    font-weight: 900;
}

#prices .vehicle-price .info {
    font-weight: normal;
    font-size: 18px;
}

#prices .reserve-button {
    background-color: #0074b7;
    color: #fff;
    display: block;
    height: 50px;
    line-height: 51px;
    font-size: 24px;
    font-weight: 900;
    padding: 0 15px;
    box-shadow: 6px 6px 0 #efe9e9;
    text-transform: uppercase;
    transition: .2s;
}

#prices .reserve-button:hover {
    background-color: #716d6e;
}

#prices .reserve-button span {
    margin-right: 7px;
}

@media screen and (max-width: 1240px) {
    .prices-grid {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 1090px) {
    .prices-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    #prices .title {
        text-align: left;
    }
    .prices-grid {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
    #prices .box_content {
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 560px) {
    #prices .title {
        font-size: 28px;
    }
    #prices h2 {
        line-height: 30px !important;
        font-size: 30px !important;
    }
    #prices .subtitle {
        font-size: 35px;
    }
    #prices .box_content .bottom-price-box h4 {
        font-size: 30px !important;
    }

    #prices {
        padding-left: 5px;
        padding-right: 5px;
    }
    #prices .box_content:last-child h3 {
        font-size: 14px !important;
    }
    #prices .box_content .bottom-price-box h4, #prices .box_content .bottom-price-box small {
        font-size: 25px !important;
    }
}

@media screen and (max-width: 475px) {
    #prices .box_content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 108px  auto;
    }
}

@media screen and (max-width: 420px) {
    #prices .box_content {
        grid-template-rows: 110px  auto;

        .top-price-box {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
        }

        &:last-child, &:nth-last-child(2) {
            grid-template-rows: 130px  auto;
        }
    }
}
