/* Teaser
-------------------------------------*/

#header-block .reservation {
    min-height: 480px;
    background-color: #fff;
    width: 100%;
    max-width: 370px;
    border-radius: 10px;

    .reservation-block-message {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-bottom: 0;
        padding: 20px;
        background-color: #0074B7;
        border-radius: 10px 10px 0 0;

        p {
            color: #fff !important;
            text-align: center;
            font-family: Lato Medium, sans-serif !important;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 20.594px; /* 128.711% */
            text-transform: initial;
            margin-bottom: 0;

            * {
                color: #fff !important;

            }

            &:focus, &:hover, &:active {
                color: #fff !important;

            }
        }

        .reservation-blocked-dates {
            color: #fff !important;
            font-family: Lato Medium, sans-serif !important;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 20.594px;
            text-transform: capitalize;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}

#header-block form {
    &#orderForm {
        padding: 20px;


    }

    &#form_checkout {
        .checkout-title {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: #716d6e;

            h4 {
                color: #3D405C;
                font-family: Lato, sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 20.594px; /* 128.711% */
                text-transform: initial;
            }

            svg {
                margin-right: 7px;
            }
        }

        #checkout_price_desc {
            color: var(--prime, #0074B7);

            /* Body */
            font-family: Lato, sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; /* 25.2px */
        }
    }
}

#header-block form .alert {
    margin-top: -20px;
    padding: 10px 15px;
}

#header-block form ::-webkit-input-placeholder {
    color: #0074b7 !important;
}

#header-block form :-moz-placeholder {
    color: #0074b7 !important;
}

#header-block form ::-moz-placeholder {
    color: #0074b7 !important;
}

#header-block form :-ms-input-placeholder {
    color: #0074b7 !important;
}

#header-block form .styled-select-car {
    border: 2px solid #efe9e9;
    height: 55px;
    position: relative;
    margin-bottom: 23px;
}

#header-block form .styled-select-car:after {
    content: '';
    background: #ffffff no-repeat 5px 23px;
    right: 0px;
    top: 0px;
    width: 30px;
    height: 51px;
    position: absolute;
    pointer-events: none;
}

.order-date-box {
    width: 100%;
    max-width: 205px;

    .input-group-text {
        border-radius: 5px 0px 0px 5px;
        background: #E0DDDD;
        display: flex;
        flex-flow: row;
    }
}

#header-block form .styled-select-car select {
    border: none;
    font-size: 18px;
    font-weight: normal;
    width: 100%;
    background-image: none;
    background: #fff;
    -webkit-appearance: none;
    padding: 9px 10px;
    height: 51px;
    outline: none;
    color: #0074b7;
}

#header-block form .styled-input-car {
    border: 2px solid #efe9e9;
    min-height: 55px;
    position: relative;
    margin-bottom: 23px;
}

#header-block form .styled-input-car:after {
    content: '';
    right: 0px;
    top: 0px;
    width: 30px;
    height: 51px;
    position: absolute;
    pointer-events: none;
}

#header-block form .styled-input-car input {
    border: none;
    font-size: 18px;
    font-weight: normal;
    width: 100%;
    background-image: none;
    background: #fff;
    -webkit-appearance: none;
    padding: 9px 10px;
    height: 51px;
    outline: none;
    color: #0074b7;
}

#header-block form .location {
    margin-bottom: 27px;
}

#header-block form .datetime {
    margin-bottom: 20px;
}

#header-block form .form-control {
    height: auto;
    min-height: 43px;
    max-height: 50px;
    border: 2px solid #efe9e9;
    box-shadow: none;
}

#header-block form .input-group {
    width: 100%;

}

.decor-order-line {
    width: 100%;
    background: #BDBDBD;
    height: 1px;
    margin-bottom: 20px;
}

#header-block form .input-group input {
    border-radius: 0;
    color: #0074b7;
    font-size: 16px;
    padding-left: 15px;
    box-shadow: none;
    background: none;
    -webkit-appearance: none;
}

#header-block form .styled-select-time {
    width: auto;
    max-width: 82px;
    margin-left: auto;
}

#header-block form .styled-select-time:after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.3538 6.85378L8.35378 11.8538C8.30735 11.9003 8.2522 11.9372 8.1915 11.9623C8.13081 11.9875 8.06574 12.0004 8.00003 12.0004C7.93433 12.0004 7.86926 11.9875 7.80856 11.9623C7.74786 11.9372 7.69272 11.9003 7.64628 11.8538L2.64628 6.85378C2.55246 6.75996 2.49976 6.63272 2.49976 6.50003C2.49976 6.36735 2.55246 6.2401 2.64628 6.14628C2.7401 6.05246 2.86735 5.99976 3.00003 5.99976C3.13272 5.99976 3.25996 6.05246 3.35378 6.14628L8.00003 10.7932L12.6463 6.14628C12.6927 6.09983 12.7479 6.06298 12.8086 6.03784C12.8693 6.0127 12.9343 5.99976 13 5.99976C13.0657 5.99976 13.1308 6.0127 13.1915 6.03784C13.2522 6.06298 13.3073 6.09983 13.3538 6.14628C13.4002 6.19274 13.4371 6.24789 13.4622 6.30859C13.4874 6.36928 13.5003 6.43434 13.5003 6.50003C13.5003 6.56573 13.4874 6.63079 13.4622 6.69148C13.4371 6.75218 13.4002 6.80733 13.3538 6.85378Z' fill='%230074B7'/%3E%3C/svg%3E%0A");
    right: 5px;
    top: 50%;
    width: 16px;
    height: 17px;
    position: absolute;
    pointer-events: none;
    transform: translateY(-50%);

}

#header-block form .input-group-addon {
    border-radius: 0;
    border: none;
    background-color: #efe9e9;
    font-weight: bold;
    font-size: 16px;
    color: #716d6e;
    text-align: left;
    width: 100px;
    align-items: center;

    svg {
        margin-right: 4px;
        height: 16px;
        width: 16px;
    }
}


#header-block form .different-drop-off {
    color: #716d6e;
    font-weight: bold;
    margin: 10px 0;
    display: block;
}

#header-block form .date {
    width: 240px;
}

#header-block form .time {
    width: 140px;
}

#header-block form .pixelfix {
    border-top: 1px solid #fff;
}

#header-block form .styled-select-time {
    border: 2px solid #efe9e9;
    height: 43px;
    position: relative;
}


#header-block form .styled-select-time select {
    border: none;
    font-size: 16px;
    width: 100%;
    background-image: none;
    background: #fff;
    -webkit-appearance: none;
    padding: 10px 10px;
    height: 39px;
    color: #0074b7;
}

#header-block form .submit {
    width: 100%;
    background-color: #0074b7;
    color: var(--white, #FFF);
    border-radius: 5px;
    /* Add med */
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20.594px; /* 128.711% */
    text-transform: capitalize;
    border: none;
    box-shadow: none;
    padding: 10px 0;
    /*margin-top: 30px;*/
    transition: 0.2s;
}

#header-block form .submit:hover {
    background-color: #716d6e;
}

#header-block .title {
    color: #fff;

    font-size: 36px;
    font-weight: 900;
    margin: 0;
}

#header-block .subtitle {
    font-size: 24px;
    color: #dbdbdb;
    text-transform: none;
    display: block;
    font-weight: normal;
    margin-top: 10px;
}

#header-block .car-img {
    height: 375px;
    text-align: center;
    line-height: 400px;
}

#header-block .car-img img {
    display: inline-block;
}

#header-block .carousel-control {
    position: relative;
}

#header-block .carousel-control.left,
#header-block .carousel-control.right {
    background-image: none;
    margin: 0;
    width: 30px;
}

#header-block .carousel-control.left {
    left: 90%;
}

#header-block .carousel-control.right {
    left: 95%;
}

#header-block .carousel-control .glyphicon-chevron-left,
#header-block .carousel-control .glyphicon-chevron-right {
    margin: 0;
}

#header-block .carousel-control .glyphicon-chevron-right {
    right: auto;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 37px solid transparent;
    border-right: 37px solid transparent;
    border-top: 37px solid #303131;
    margin: 0 auto;
}

/* Teaser Blog
-------------------------------------*/
#header-block-blog {
    height: 145px;
    padding: 60px 0;
    background-color: #0074b7;
}

#header-block-blog .title {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 900;
    margin: 0;
}

#header-block-blog .title {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 900;
    margin: 0;
}

#header-block-blog .breadcrumbs {
    color: #fff;
    list-style: none;
    padding: 0;
    text-align: right;
    margin-top: 9px;
}

#header-block-blog .breadcrumbs li {
    display: inline-block;
    text-transform: uppercase;
}

#header-block-blog .breadcrumbs li:after {
    content: ">";
    padding: 0 2px 0 4px;
}

#header-block-blog .breadcrumbs li:last-of-type:after {
    content: "";
    padding: 0 0 0 5px;
}

#header-block-blog .breadcrumbs a {
    color: #fff;
}

@media screen and (max-width: 900px) {

    #checkoutModal .modal-dialog {
        width: 100%;
        max-width: 770px;
    }
}

@media screen and (max-width: 768px) {

    #checkoutModal .modal-dialog {
        max-width: calc(100vw - 40px);
    }
}

@media screen and (max-width: 475px) {

    #header-block form {

        .datetime {

            //flex-wrap: wrap;
        }

        .date {
            //width: 100%;
            //flex: 0 0 100%;
            //margin-bottom: 20px;
        }

        .time {
            width: 100%;
            max-width: 86px;
        }

        .input-group input {
            padding-left: 10px;
            padding-right: 10px;
        }

        .input-group-addon {
            width: auto;
            max-width: 96px;

            svg {
                display: none;
            }
        }

        #order_pick_up_date, #order_drop_off_date {
            width: 100%;
            max-width: 115px;
        }

        .styled-select-time {
            //margin: 0 auto;
        }
    }
}

@media screen and (max-width: 375px) {
    //.order_form_wrapper_calendar {
    //    left: - 6px !important;
    //}
}
