* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.calendar {
    padding: 20px 10px;

    .calendar__title {
        text-align: center;
        margin-bottom: 50px;
    }
}

.calendar__container {
    display: flex;
    flex-wrap: wrap;

    & > div:first-child,
    & > div:nth-child(2) {
        width: 50%;
        min-width: 300px;

        @media only screen and (max-width: 768px) {
            width: 100%;
            min-width: 100%;
        }
    }

    @media only screen and (max-width: 768px) {
        flex-direction: column;
    }


    // TABLE //
    .date_selection_calendar,
    .calendar__visual_wrapper {

        table {
            margin: 0 auto;

            thead {
                .jsCalendar-week-days {
                    text-transform: uppercase;
                }
            }

            td {
                cursor: pointer;
            }

            tbody {
                .disabled {
                    cursor: auto;
                    //color: black;
                    background: rgba(255, 76, 76, 0.89);
                }
                .select {
                    background: rgba(3, 169, 244, 0.4);
                }
            }
        }
    }

    .date_selection_calendar {
        &.hide {
            display: none;
        }
    }

    .calendar__date_list_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .calendar__date_list {
            list-style: none;
            padding: 0;
        }

        .calendar__add_date_w {
            width: 100%;
        }

        .calendar__add_date_label {
            display: block;
            width: 100%;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 50px;
            }
        }

        .calendar__select_date_input {
            display: block;
            width: 100%;
        }

        .calendar__add_date_btn_w {
            width: 100%;

            .calendar__add_date_btn {
                display: flex;
                margin: 0 auto;
                padding: 5px 10px;
                cursor: pointer;
            }
        }
    }
}

.calendar__btn_submit_w {
    width: 100%;
    padding: 20px;

    .calendar__btn_submit {
        display: flex;
        margin: 0 auto;
        padding: 10px 20px;
        cursor: pointer;
    }
}
